.App{
    font-size: 1rem;
   width: 100%;
}

button{
    border-radius: 20px;
    background-color: rgb(108, 13, 202);
    color: white;
    height: 40px;
    width: 90px;
    cursor: pointer;
    text-align: center;
    font-family: 'Comic Sans MS';
    border: none;
}

button:focus{
    outline:none;
   

}

button:hover{
    border: 2px solid  rgb(108, 13, 202);
    background-color: white;
    color: rgb(108, 13, 202);
    font-weight: 700;
}