.home-page{
    min-height: 100vh;
    text-align: center;
    width: 100%;
    
}

.home-page h1{
    font-size: clamp(1.2rem,5vw,2.5rem);
    font-weight: 700;
    text-decoration: underline;
    font-family: 'Comic Sans MS';
    width: 50%;
    margin: 15px auto;
    text-align: center;
}


