.home-page{
    min-height: 500px;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    
}

.home-page h1{
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    font-family: 'Comic Sans MS';
    
    width: 50%;
   
    margin: 15px auto;
}